---
import { awards } from '@/data/awards';
---

<section class='w-full'>
	<table>
		<tbody>
			{
				awards.map((award) => (
					<tr class='align-middle'>
						<td class='font-bold w-26'>{award.posicion}:</td>
						<td class='p-2'>{award.descripcion}</td>
					</tr>
				))
			}
		</tbody>
	</table>
</section>
