<section class='flex flex-col gap-2 md:gap-4'>
	<h1 class='text-3xl md:text-4xl lg:text-5xl font-bold text-center m-0'>Rifa solidaria</h1>
	<article class='flex flex-col gap-2'>
		<p class='text-md md:text-xl text-left'>
			Rifa solidaria a favor de Norman Patricio Espinosa Guarnizo. La rifa se realizara el día 26 de Julio de 2025. El valor de la rifa es de $5
		</p>
		<p class='text-md md:text-xl text-left'>Los premios a sortear son:</p>
	</article>
</section>
