---
import '@/styles/global.css';
import Analytics from '@vercel/analytics/astro';
---

<!doctype html>
<html lang='es'>
	<head>
		<meta charset='UTF-8' />
		<title>Rifa solidaria</title>
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/x-icon' href='/favicon.ico' />
	</head>
	<body>
		<main class='grid grid-cols-1 gap-2 md:gap-4 max-w-4xl mx-auto px-4 py-8 overflow-x-hidden'>
			<slot />
		</main>
		<Analytics />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
	.hidden {
		display: none;
	}
</style>
